@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
}

.coontainer {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* #region HEADER */
.main-page-header {
  min-height: 64px;
}

.logo {
  margin-bottom: -40px;
  position: relative;
  z-index: 10;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
  gap: 30px;
}

.navigation-list {
  width: 550px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.navigation-user {
  margin-left: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 20px 16px;
  text-decoration: none;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current:after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: 0;
  height: 3px;
  background-color: #756257;
}

.navigation-link-buttom {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 8px 34px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
}

/* #endregion */

.main-container {
  flex-grow: 1;
}


.hero-logo {
  position: relative;
  color: #000000;
  background-color: #82B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.hero-logo::before {
  position: absolute;
  content: "";
  background-image: url(/images/background-vector.svg);
  width: 1200px;
  height: 57px;
  bottom: 0;
  left: 0;
}

.hero-logo-img {
  margin-top: -15px;
}

.tagline {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  max-width: 620px;
  margin: 0 0 25px 0;
  padding: 0;

}

.tagline-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 69px 0 69px 0;
}

.tagline-recommendations {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  max-width: 620px;
  margin: 0 0 20px 0;
  padding: 0;
}

.tagline-block-recommendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0 64px 0;
}

.tagline-description {
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(385px, auto);
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.advantages-item.wide {
  grid-column: 1/4;
  flex-direction: row;
  color: #FFF;
  background-color: #82B3D3;
}

.advantages-item.wide-reverse {
  grid-column: 1/4;
  flex-direction: row-reverse;
  color: #FFF;
  background-color: #82B3D3;
}

.advantages-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 102px 85px;
  margin: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 62px;
  max-width: 175px;
  position: relative;
}

.advantages-title-bluescreen::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  bottom: 32px;
  right: 50%;
  margin-right: -30px;
}

.advantages-title-greyscreen::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  bottom: 32px;
  right: 50%;
  margin-right: -30px;
}

.advantages-photo {
  display: block;
  max-width: 800px;
  height: auto;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  max-width: 230px;
}

.advantages-item.advantages-item-ultra-light {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
  padding: 112.5px 85px;
}

.advantages-item.advantages-item-light {
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
  padding: 112.5px 85px;
}

.advantages-item.ultra-light p,
.advantages-item.advantages-item-light p {
  color: #333333;
}

.recommendations-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommendations-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.recommendations-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  max-width: 230px;
  margin: 0 auto;
}

.recommendations-item {
  background: rgba(131, 179, 211, 0.12);
  flex-grow: 1;
  padding: 183px 85px 81px 85px;
  width: 400px;
}

.recommendations-item-white {
  background-color: #ffffff;
  padding-top: 183px;
  background-image: url("/images/v-eating.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: center top 81px;
}

.recommendations-item-home {
  padding-top: 183px;
  background-image: url("/images/v-housing.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: center top 81px;
}

.recommendations-item-souvenir {
  padding-top: 183px;
  background-image: url("/images/v-souvenir.svg");
  background-repeat: no-repeat;
  background-size: 74px 70px;
  background-position: center top 81px;
}

.recommendations-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 0 96px 0;
}

.search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
}

.search-description {
  color: #333333;
  text-align: center;
  margin: 0 0 54px 0;
  padding: 0;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  padding: 8px 50px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
}

/* #region subscribe */

.subscribe {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-description {
  max-width: 475px;
  margin: 0 auto 54px auto;
}

.subscribe-no-bg {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

/* #endregion */

.button-sub {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  text-transform: uppercase;
  padding: 8px 50px;
  height: 52px;
  border-radius: 0px 4px 4px 0px;
}

.field {
  margin: 0;
  padding: 12px 20px;
  height: 52px;
  width: 452px;
  box-sizing: border-box;
  outline: none;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input {
  font-family: 'PT Sans' sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: 0;

}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.catalog-menu {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 412px;
  display: flex;
  flex-direction: column;
  padding: 35px 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  text-decoration: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadcrumbs-link-home {
  padding-right: 28px;
  position: relative;
  width: 12px;
  height: 12px;
  bottom: -3px;
}

.breadcrumbs-link-home::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 10px;
  background-image: url(/images/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  right: 18px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.catalog-filter-group {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  width: 150px;
  margin: 0 70px 0 0;
  padding: 0;
  border: 0;
}

.catalog-filter-title {
  margin-bottom: 32px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  align-self: flex-end;
}

.button-submit {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.button-reset {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding: 8px 57px;
}

.catalog-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 70px 40px 70px;
}

.catalog-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
}

.select-control {
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-right: 40px;
  appearance: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 20px;
  background-image: url(/images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  margin-right: 70px;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #3F5E72;
}

.card-grid-toggle {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-list {
  margin: 0;
  padding: 0 70px 80px 70px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog-card {
  margin: 0;
  padding: 20px 18px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  column-gap: 20px;
}

.catalog-card-image {
  display: block;
  margin-bottom: 16px;
}

.catalog-card-link {
  display: block;
  max-width: 100%;
  height: auto;
  text-decoration: none;
  color: #000;
}

.catalog-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 16px 0;
  width: 100%;

}

.catalog-card-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 0 16px 0;
  padding: 0;
  width: 50%;
  max-width: 140px;
}

.catalog-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 0 16px 0;
  padding: 0;
  width: 50%;
  max-width: 140px;
  text-align: right;
}

.catalog-card-button-about-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 16px 0;
  padding: 8px 26px;
  border-radius: 4px;
  width: 140px;
}

.catalog-card-button-favorites-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 16px 0;
  padding: 8px 20px;
  border-radius: 4px;
  width: 140px;
}

.catalog-card-raiting {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  width: 140px;

}

.pagination {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination-list {
  margin: 0;
  padding: 0 70px 60px 70px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination-link-pagination-current {
  color: #000000;
  text-decoration: none;
  background-color: #F2F2F2;
  text-decoration: none;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-link {
  color: #ffffff;
  background: #82B3D3;
  text-decoration: none;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-link-select {
  color: #000000;
  text-decoration: none;
  background-color: #F2F2F2;
  text-decoration: none;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  padding: 12px 11px;
}

.footer-tel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.svg-copyright {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
